<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div *ngFor="let eduction of eductions " class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>{{eduction.from_to_year}}</p>
              <div class="h5">{{eduction.stream}}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <h4 class="category">{{eduction.education}}</h4>
              <div class="h5">{{eduction.institution}}</div>
              <p>{{eduction.city}}</p>
               <ul>
                <li *ngFor="let detail of eduction.info | split">{{detail}}</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>