<div class="overlay" (click)="toggleExpand()">
  <div>
    hi
  </div>
 </div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-div-image">
        <img id="my-interactive-image" class="page-header-image img-fluid" data-parallax="true" style="background-image: url('assets/images/intro.png');"/>
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-map-aus-image" >
            <a href="#">
              <!-- <img src="assets/images/colombia.png" style="color:white" alt="Image"/> -->
            </a>
          </div>
          <div class="cc-map-col-image" >
            <a href="#">
              <!-- <img src="assets/images/colombia.png" style="color:white" alt="Image"/> -->
            </a>
          </div>
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/img2.jpg" alt="Image"/>
            </a>
          </div>
          <h1 class="h2 title">Cristian Cardona</h1>
          <p class="category text-white">Full Stack Developer</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Hire Me</a>
          <a class="btn btn-primary" href={{cvUrl}} target="_blank" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-sm btn-icon" href="https://www.facebook.com/CristianCardonaCC"
              target="_blank" rel="tooltip" title="Follow me on Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-default btn-round btn-sm btn-icon" href="https://www.instagram.com/_cristian_cardona_/"
              target="_blank" rel="tooltip" title="Follow me on Instagram">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="btn btn-default btn-round btn-sm btn-icon"
              href="https://www.linkedin.com/in/cristian-cardona-dev/" target="_blank" rel="tooltip"
              title="Follow me on Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-sm btn-icon" href="https://github.com/cris-hub" target="_blank"
              rel="tooltip" title="Follow me on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-default btn-round btn-sm btn-icon" href="https://twitter.com/Cristian_ECC_"
              target="_blank" rel="tooltip" title="Follow me on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
